<article class="product-item">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
  <div class="product-item-content">
    <h2><%= product.title %></h2>
    <div class="product-item-actions">
      <a href="/admin/products/<%= product.id %>" class="btn btn-alt">View &amp; Edit</a>
      <!-- <form action="/admin/products/delete/<%= product.id %>" method="POST"> -->
      <button class="btn-alt">Delete</button>
      <!-- </form> -->
    </div>
  </div>
</article>
