<%- include('../../shared/includes/head', {pageTitle: 'Add product'}) %>
<link rel="stylesheet" href="/styles/forms.css" />


<%- include('../../shared/includes/head-end') %>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Add Product</h1>
    <section>
      <%- include('./includes/product-form', {
      submitPath: '/admin/products/',
      product: {
      title: '',
      summary: '',
      price: '',
      description: ''
    },
      imageRequired: true}) %>
    </section>
  </main>

  <%- include('../../shared/includes/footer') %>
</body>
