<%- include('../../shared/includes/head', {pageTitle: 'Add product'}) %>
<link rel="stylesheet" href="/styles/forms.css" />
<script src="/scripts/image-preview.js" defer></script>
<%- include('../../shared/includes/head-end') %>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Add Product</h1>
    <section>
      <%- include('./includes/product-form', {
      submitPath: '/admin/products/',
      product: product,
      imageRequired: true}) %>
    </section>
  </main>

  <%- include('../../shared/includes/footer') %>
</body>
